<link rel="stylesheet" type="text/css" href="../css/home.css"/>
<div id="contentBody" class="row">    
    <div class="col" id="mapColumn">
        <nav class="navbar navbar-expand flex-md-row justify-content-start navbar-light bg-light">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#">My buckEATlist</a></li>
                    <li class="nav-item"><a class="nav-link" href="/noms-map">My Noms Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">My Reviews</a></li>
                </ul>
            </div>
        </nav>
        <div id="map"></div>
    </div>
    <div class="col-md-4"id="listColumn">
        <h3>My buckEATlist</h3>
        <div id="restList">
            {{#each restaurants}}          
                <div class="restaurantContainer row align-items-center">                               
                    <span class="restName col">{{name}}</span>
                    <div class="d-flex flex-row">
                        <button type="button" class="btn btn-success info" data-toggle="modal" data-target="#restInfoModal" data-yelpid="{{yelp_id}}" data-addedat="{{added_at}}">Info</button>
                        <button class="btn btn-success checkoff" data-name="{{name}}" data-id="{{id}}">Check off list</button>
                        <button class="btn btn-danger remove" data-id="{{id}}"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            {{else}}
                <span>you have no restaurants, go add some!</span>
            {{/each}}         
        </div>        
    </div>
</div>

<!-- restaurant info modal-->
<div id="restInfoModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pb-2">
                    <div class="col-md-4">
                        <img class="restImg"/>
                    </div>
                    <div class="col-md-4">
                        <label for="categories">Cuisines:</label>
                        <p name="categories" class="categories"></p>    
                    </div>
                    <div class="col-md-4">
                        <label for="price">Price:</label>
                        <span name="price" class="price"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="address">Address:</label>
                        <p name="address" class="address"></p>                   
                    </div>
                    <div class="col-md-4">
                        <label for="phoneNumber">Phone:</label>
                        <span name="phoneNumber" class="phoneNumber"></span>
                    </div>
                    <div class="col-md-4">
                        <label for="rating">Rating:</label>
                        <p name="rating" class="rating"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="openNow">Open now:</label>
                        <span name="openNow" class="openNow"></span>
                    </div>
                    <div class="col-md-4">
                        <label for="addedAt">On your list since:</label>
                        <p name="addedAt" class="addedAt"></p>
                    </div>
                    <div class="col-md-4">
                        <label for="link">Yelp Link:</label>
                        <span name="link" class="link"><a target="_blank" rel="nofollow noopener">See it on Yelp</a></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="checkOffList">Check off my list</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 

<!-- check off list modal-->
<div id="restCheckOffModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="alert" id="checkOffAlert"></label>
                </div> 
                <form id="checkOffRestaurantForm">
                    <div class="row">
                        <div class="col-6">                    
                            <label class="d-block" for="rating">Your Rating:&nbsp;&nbsp;</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ratingRadioOptions" id="ratingRadio1" value="1" checked>
                                <label class="form-check-label" for="ratingRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ratingRadioOptions" id="ratingRadio2" value="2">
                                <label class="form-check-label" for="ratingRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ratingRadioOptions" id="ratingRadio3" value="3">
                                <label class="form-check-label" for="ratingRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ratingRadioOptions" id="ratingRadio4" value="4">
                                <label class="form-check-label" for="ratingRadio4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ratingRadioOptions" id="ratingRadio5" value="5">
                                <label class="form-check-label" for="ratingRadio5">5</label>
                            </div>
                        </div>
                        <div class="input-group date col-6" data-provide="datepicker">
                            <label>Date Visited:&nbsp;&nbsp;</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>           
                    </div>    
                    <div class="form-group">
                        <label for="review">Write A Review</label>
                        <textarea style="min-height:200px;" id="reviewArea" class="form-control" name="review" aria-label="review"></textarea>         
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" multiple>
                        <label class="custom-file-label" for="customFile">Upload pictures</label>
                    </div>
                </form>         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCheckOffSubmit">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjXmP2cdd3qe_9TnbZfMldDE7_K1MtPwk" defer></script>
<script src="../js/map.js" type="text/javascript" defer></script>
<script src="../js/home.js" type="text/javascript" defer></script>



  