<link rel="stylesheet" type="text/css" href="../css/home.css"/>
<div class="row">    
    <div class="col" id="mapColumn">
        <nav class="navbar navbar-expand flex-md-row justify-content-start navbar-light bg-light">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">My buckEATlist</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#">My Noms Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">My Reviews</a></li>
                </ul>
            </div>
        </nav>
        <div id="map"></div>
    </div>
    <div class="col-md-4"id="listColumn">
        <h3>My Noms Map</h3>
        <div id="restList">
        {{#each restaurants}}
            
            <div class="restaurantContainer row align-items-center">                               
                    <span class="restName col">{{name}}</span>
                    <div class="d-flex flex-row">
                        <button type="button" class="btn btn-success info" data-toggle="modal" data-target="#restInfoModal" data-id="{{id}}" data-addedat="{{added_at}}">Info</button>
                        {{!-- <button class="btn btn-success checkoff" data-name="{{name}}" data-id="{{id}}">Check off list</button>
                        <button class="btn btn-danger remove" data-id="{{id}}"><i class="fas fa-times"></i></button> --}}
                    </div>
                </div>
            
        {{/each}}
        </div>           
    </div>
</div>
<!-- restaurant info modal-->
<div id="restInfoModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pb-2">                    
                    <div class="col-md-6">
                        <label for="date">Date Visited:</label>
                        <p name="date" class="date"></p>    
                    </div>
                    <div class="col-md-6">
                        <label for="rating">Your Rating:</label>
                        <p name="rating" class="rating"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="review">Your Review:</label>
                        <p name="review" class="review"></p>                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="photos">Photos:</label>
                        <span name="photos" class="photos"></span>
                    </div>                    
                </div>                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjXmP2cdd3qe_9TnbZfMldDE7_K1MtPwk" defer></script>
<script src="../js/map.js" type="text/javascript" defer></script>
<script src="../js/visited.js" type="text/javascript" defer></script>
  